
:root{
  --brand-light: #DCDFDB;
  --brand-light-alt: #D0D0D0; 
  --brand-dark: #2E3432;
  --brand-dark-alt: #404643; 
  --brand-green: #3E6052;
  --brand-red:#FF6255;

  --type-primary: 'Manrope', sans-serif;
  --type-secondary: 'IBM Plex Mono', monospace;
  --type-base-size: 16px;
  --gridlines: 24;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--type-base-size);
  line-height: 1.25;
}

body{
  background: linear-gradient(90deg, var(--brand-light-alt) 1%, transparent 1%) 1px 0, var(--brand-light);
  background-size: calc(100vw / var(--gridlines)) 1px;

  color: var(--brand-dark);
  font-family: var(--type-primary);
  letter-spacing: -0.015rem;
}

a:link, a:visited {
  color: var(--brand-dark);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--brand-dark-alt);
}

/* Page: Home */

.header{
  font-family: var(--type-secondary);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.015rem;
  line-height: 1rem;
}

.header__navigation{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem calc(100vw / var(--gridlines));
  /*padding: 2rem 5rem;*/
  animation: slideIn 0.75s 0s ease both;
}

.header__menu{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.menu__item{
  position: relative;
}

.menu__item--current::before{
  position: absolute;
  display: block;
  width: 0.15rem;
  height: 1.5rem;
  margin-top:-2rem;
  left:50%;
  margin-left:-0.075rem;
  background: var(--brand-green);
  content: '';
}


.header__branding{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem calc(100vw / var(--gridlines));
}

.branding__logo{
  overflow: hidden;
}

.branding__logo__image{
  width: calc((100vw / var(--gridlines))*8);
  height: auto;
  animation: slideIn 0.75s 0.25s ease-out;
}
.branding__logo__image path{
  fill: var(--brand-dark);
}

.header__contact{
  list-style-type: none;
  overflow: hidden;
}
.header__contact li{
  animation: slideIn 0.75s 0.25s ease both;
}


.work {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  min-height: 100vh;
  animation: slideUp 1s 0.25s ease both;
}

.work--invert{
  grid-template-columns: 2fr 1fr;
}

.work__details{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 2rem 2rem 2rem calc(100vw / var(--gridlines));
}

.details__title{
  font-family: var(--type-secondary);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.015rem;
  line-height: 1rem;
  margin-bottom: 2rem;
}

.details__title::after{
    margin-top: 0.25rem;
    width: 1.5rem;
    height: 0.15rem;
    display: block;
    background: var(--brand-green);
    content: '';
}

.details__paragraph{
  font-size: calc(1rem + 1vmax);
}

.work__visuals{
  min-height: 100vh;
  margin:0;
  padding: 0 calc(100vw / var(--gridlines)) 0 0 ;
}
.work--invert .work__visuals{
  padding: 0 0 0 calc(100vw / var(--gridlines)) ;
}

.visual__item {
  margin-bottom: 5rem;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}


/* Page: Experiments */

.experiments{
  position: fixed;
  top:0;
  left:0;
  width: 3000px;
  height: 2400px;

  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 10rem;
  touch-action: none;
}

.experiment__link{
  display: block;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.experiment__img{
  max-width: 100%;
  max-height: 500px;
  transition: opacity 0.25s, transform 0.25s, box-shadow 0.25s;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.page__scrapbook{
  background: var(--brand-light);
  background-image: radial-gradient(var(--brand-green) 1px, transparent 0);
  background-size: calc(100vw / var(--gridlines)) calc(100vw / var(--gridlines));
  background-position: calc((100vw / var(--gridlines))/2) calc((100vw / var(--gridlines))/2) ;
}

.page__scrapbook .header__navigation,
.page__scrapbook .header__contact{
  position: relative;
  z-index: 9 !important;
}

.page__scrapbook.hovered .experiment__img{
  opacity: 0.1;
}

.page__scrapbook.hovered a.hovered .experiment__img{
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

/* end scrapbook */


.footer{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding:2rem 4rem;  
}


/* ANIMATIONS */

@keyframes slideIn {
  0% {
    transform: translate(0, -200%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(0, 150%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heartbeat {
  0% {
      transform: translateY(-50%) scale(1)
  }

  50% {
      transform: translateY(-50%) scale(1.25)
  }

  to {
      transform: translateY(-50%) scale(1)
  }
}

@keyframes heartbeat {
  0% {
      transform: translateY(-50%) scale(1)
  }

  50% {
      transform: translateY(-50%) scale(1.25)
  }

  to {
      transform: translateY(-50%) scale(1)
  }
}

.footer__badge {
  -webkit-animation: heartbeat 1s infinite;
  animation: heartbeat 1s infinite
}


/* 'DARK MODE' */


@media (prefers-color-scheme: dark) {
  body{
    background: linear-gradient(90deg, var(--brand-dark-alt) 1%, transparent 1%) 1px 0, var(--brand-dark);
    background-size: calc(100vw / var(--gridlines)) 1px;

    color: var(--brand-light);
  }

  a:link, a:visited {
    color: var(--brand-light);
    text-decoration: none;
  }
  
  a:hover, a:active {
    color: var(--brand-light-alt);
  }

  .branding__logo__image path{
    fill: var(--brand-light);
  }
  

  .page__scrapbook{
    background: var(--brand-dark);
    background-image: radial-gradient(var(--brand-green) 1px, transparent 0);
    background-size: calc(100vw / var(--gridlines)) calc(100vw / var(--gridlines));
    background-position: calc((100vw / var(--gridlines))/2) calc((100vw / var(--gridlines))/2) ;
  }

}




@media (max-width: 800px) {
  :root {
    --gridlines: 12;
  }
  .branding__logo{
    width: calc((100vw / var(--gridlines))*5);
  }
  .branding__logo__image{
    width: calc((100vw / var(--gridlines))*5);
    height: auto;
  }

  
  .work {
    grid-template-columns: 1fr;
    height: auto;
    padding: calc(100vw / var(--gridlines));
  }
  .work__visuals,
  .work__details{
    position: relative;
    min-height: none;
    height: auto;
    margin-bottom: 1rem;
    padding: 0 !important;
  }

  .work--invert .work__details{
    order:1;
  }
  .work--invert .work__visuals{
    order:2;
    
  }
  .visual__item {
    margin-bottom: 1rem;
  }
}

@media (min-width: 801px) and (max-width: 1440px) {
  :root {
    --gridlines: 18;
  }
}





/*
body{
  background: linear-gradient(90deg, var(--brand-light-alt) 1%, transparent 1%) 1px 0, var(--brand-light);
  background-size: calc(100vw/17) 1px;

  color: var(--brand-dark);
  font-family: var(--type-primary);
  letter-spacing: -0.015rem;
}

h1, h2{
  font-family: var(--type-secondary);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.015rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

li{
  font-family: var(--type-secondary);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.015rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
}

.navigation{
  padding: 0;
  margin:0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.menu{
  display: inline-flex;
  align-items: flex-start;
  list-style-type: none;
  gap: 16px;  
  background: red;
  margin: 0;
  padding: 0;
}


@media (prefers-color-scheme: dark) {
  body{
    background-color: var(--brand-dark);
    color: var(--brand-light);
  }
}
*/
